

body {
    position: relative;
    background: #0f9b0f;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
 }

.header {
    font-size: 30px;
    margin: 20px;
}

.container {
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    padding: 25px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    background: -webkit-linear-gradient(to bottom, #000000, #0f9b0f); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000, #0f9b0f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button {
    padding: 12px 28px;
    border-radius: 2px;
    font-size: 20px;
    background-color: #555555;
    box-shadow: 1px 1px #4dc303;
    cursor: pointer;
}

#randomQuote {
    color: #FFFFFF;
    font-size: 40px;
}

.twitter-share-button {
    display: none;
    position: relative;
    border: none;
    margin: 0 auto;
}

.twitter-share-button button {
    width: 120px; height: 120px;
    background: transparent url(new-twitter-bird-square.png);
    border: none;
    cursor: pointer;
}

.button {
    -moz-box-shadow: inset 0 0 0 1px #63ad0d;
    -webkit-box-shadow: inset 0 0 0 1px #63ad0d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #eee;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#e2e2e2));
    background: -moz-linear-gradient(#eee, #e2e2e2);
    background: linear-gradient(#eee, #e2e2e2);
    border-radius: 3px;
    display: inline-block;
    font: bold 12px Arial, Helvetica, Clean, sans-serif;
    margin: 0 auto;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    background: #c4e125;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c4e125), to(#88a819));
    background: -moz-linear-gradient(#c4e125, #88a819);
    background: linear-gradient(#c4e125, #88a819);
    border: solid 1px #829c15;
    border-bottom: solid 3px #819d15;
    box-shadow: inset 0 0 0 1px #c6da7b;
    color: #fff;
    text-shadow: 0 1px 0 #819d15;
}

.button:hover {
    background: #88a819;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#88a819), to(#c4e125));
    background: -moz-linear-gradient(#88a819, #c4e125);
    background: linear-gradient(#88a819, #c4e125);
    border: solid 1px #829c15;
    border-bottom: solid 3px #819d15;
    box-shadow: inset 0 0 0 1px #c6da7b;
}
