body {
    position: relative;
    background-color: black;
}

.header {
    font-family: monospace;
    font-size: 30px;
    margin: 20px;
}

.container {
    margin: auto;
    text-align: center;
    color: #FFF;
    padding: 25px;
}

.button {
    padding: 12px 28px;
    border-radius: 2px;
    font-size: 20px;
    background-color: #555555;
    box-shadow: 1px 1px #4dc303;
}

#randomQuote {
    color: #44f024;
    font-size: 40px;
}


.twitter-share-button {
    display: none;
}
